// /* Main Container */
$width: 300px;

.main-out-bg {
  background: #fff;
}

.main-wrap--hide {
  // opacity: 0;
  opacity: 1;
  // transform: scale3d(0.8, 0.8, 1);
  filter: blur(5px);
}

.main-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /*Transition Effects*/
  transition: transform 0.6s, opacity 0.6s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.1);

  .main-container {
    height: 100vh;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    overflow: hidden;

    .app {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;

      .app__header {
        // background: yellow;
        height: 100px;
        display: flex;
        flex-direction: row;

        .app__header__left {
          display: flex;
          min-width: $width;
          width: $width;
          height: 100%;
          background: #fff;
          border-right: 1px solid #f0f2f5;
          justify-content: center;
          align-items: center;

          img {
            // height: 50px;
            height: 23px;
          }

          span {
            font-family: 'Hind';
            padding-left: 20px;

            img {
              height: 22px;
            }
          }
        }

        .app__header__right {
          display: flex;
          height: 100%;
          flex: 1;
          background: #f7f8fc;
          align-items: center;
          font-weight: 500;
          font-size: 13px;
          padding-left: 20px;
          z-index: 1;
          // box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
          border-bottom: 1px solid #f0f2f5;
        }
      }

      .app__main {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 100%;
        overflow-y: auto;

        .app__navigation {
          min-width: $width;
          width: $width;
          background: #fff;
          display: flex;
          flex-direction: column;
          border-right: 1px solid #f0f2f5;

          .app__navigation__wrapper {
            display: flex;
            flex: 1;
            flex-direction: column;
            overflow-y: auto;

            .navigation__progress {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              height: 170px;
            }
          }

          .app__navigation__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            background: #f7f8fc;
          }
        }

        .app__content {
          display: flex;
          flex: 1;
          background: #f7f8fc;
          flex-direction: column;
          height: 100%;
        }
      }
    }
  }


  .app-dropdown {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    cursor: pointer;
    color: #a1d5fe;

    .app-dropdown__name {
      font-size: 12px;
      letter-spacing: 0px;
      padding: 0px 0px 0px 8px;
    }
  }
}

.chart {
  text-align: center;
}

.percentage_value {
  float: right;
  color: #2f3033;
}
