<div class="main-out-bg">
  <main class="main-wrap" ng-class="{ 'main-wrap--hide': appConfigs.searchOpen }">
    <div class="main-container">
      <div class="app">
        <div class="app__header">
          <div class="app__header__left">
            <!-- <img src="./assets/img/logo.svg" /> -->
            <a href="/">
              <img src="./assets/img/header_logo.png" />
            </a>
            <!-- <svg width="48" height="32" viewBox="0 0 48 32" xmlns="http://www.w3.org/2000/svg">
              <title>axier</title>
              <defs>
                <linearGradient x1="0%" y1="100%" y2="0%" id="logo-a">
                  <stop stop-color="#007CFE" stop-opacity="0" offset="0%"></stop>
                  <stop stop-color="#007DFF" offset="100%"></stop>
                </linearGradient>
                <linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="logo-b">
                  <stop stop-color="#7074ff" stop-opacity="0" offset="0%"></stop>
                  <stop stop-color="#7074ff" offset="100%"></stop>
                </linearGradient>
              </defs>
              <g fill="none" fill-rule="evenodd">
                <rect fill="url(#logo-a)" width="32" height="32" rx="16"></rect>
                <rect fill="url(#logo-b)" x="16" width="32" height="32" rx="16"></rect>
              </g>
            </svg> -->

          </div>
          <div class="app__header__right">
            <span style="color:#9fa2b4;">You are applying: </span>
            <span style="color:#3751ff;font-weight:500;">axier eCommerce <i class="pe-7s-angle-down"></i></span>
            <axier-icon icon-path="settings" icon-size="20"></axier-icon>
            <button class="btn btn--primary">Save</button>

            <span class="translator__langs__selector flag-sm flag-sm-US" ng-click="vm.dom.selected.lang = 'en-us'">
            </span>
            <span class="translator__langs__selector flag-sm flag-sm-GB" ng-click="vm.dom.selected.lang = 'en-gb'">
            </span>
            <span class="translator__langs__selector flag-sm flag-sm-DE" ng-click="vm.dom.selected.lang = 'de'">
            </span>
          </div>
        </div>
        <div class="app__main" ui-view></div>
        <!-- <div class="app__navigation">
          <div class="app__navigation__info">
            <user-profile></user-profile>
          </div>
          <div class="bookings__charts-container"
            style="position:relative;height: 430px;max-width: 750px;margin-left:auto;margin-right:auto;">
            <div class="chart" id="chart-1" data-size="150" data-percent="56" data-revenue="45" data-adr="23"
              data-fill-color="#3751ff">
            </div>
          </div>
          <div class="app__navigation__menu">

          </div>
          <div class="app__navigation__logo">

        <span class="logo__text">translator</span>
        <style>
          .logo__text {
            display: inline-flex;
            font-family: "Poppins", sans-serif;
            font-size: 12px;
            font-weight: 700;
            text-decoration: none !important;
            color: #f2f3f7 !important;
            border: none;
            border-radius: 100px;
            cursor: pointer;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
            white-space: nowrap;
            text-transform: uppercase;
          }
        </style>
      </div>

      </div>
      <div class="app__content">
        <div class="app__content__header">
          <span style="color:#9fa2b4;">You are applying: </span>
          <span style="color:#3751ff;">WebKraken eCommerce <i class="pe-7s-angle-down"></i></span>
          <button class="btn btn--primary">Save</button>
        </div>
      </div> -->
      </div>
    </div>
  </main>
  <search-box is-open="appConfigs.searchOpen"></search-box>
</div>
