<div class="app__navigation">
  <div class="app__navigation__wrapper">
    <div class="navigation__progress"></div>
    <button class="btn" ng-click="vm.dom.fullscreen = true;">PDF</button>
    <button class="btn btn-primary" ng-if="vm.dom.view === 2" ng-click="vm.dom.view = 1">Show Invoice</button>
    <button class="btn btn-primary" ng-if="vm.dom.view === 1" ng-click="vm.dom.view = 2">Show Timesheet</button>
    <input type="number" ng-model="vm.invoice.rate" />
    <input type="file" allianz-invoice="vm.dom.content" />
    {{ vm.dom.content }}
    <section-nav keys="{}"></section-nav>
  </div>
  <div class="app__navigation__logo">
    <user-profile></user-profile>
  </div>
</div>
<div class="app__content">
  <div class="invoice__wrapper" ng-class="vm.dom.fullscreen ? 'invoice__wrapper--fullscreen' : ''">
    <div class="container" ng-if="vm.dom.view === 1">
      <div class="card">
        <div class="header">
          <div class="ids">
            <div class="seller" fxlayout="row" fxlayoutalign="start center"
              style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
              <div class="logo"><img src="./assets/img/axier_logo.png" /></div>
              <div class="divider"></div>
              <div class="detail">
                <div class="title">Axier, Ltd</div>
                <div class="address ng-star-inserted">
                  285, Ryevale Lawns, Leixlip, Co. Kildare
                </div>
                <div class="phone ng-star-inserted">
                  <span>Phone:</span> +353 83 048 3254
                </div>
                <div class="email ng-star-inserted">
                  <span>Email:</span> iestyn02@gmail.com
                </div>
                <div class="website ng-star-inserted">
                  <span>Web:</span> www.axier.io
                </div>
              </div>
            </div>
            <div class="client">
              <div class="label">
                <div>Lionra IT Recruitment</div>
              </div>
              <div class="divider"></div>
              <div class="detail">
                <div class="title">Cormac Moore</div>
                <div class="address ng-star-inserted">
                  Coliemore House, Coliemore Road, Dalkey, Co. Dublin
                </div>
                <div class="phone ng-star-inserted">
                  <span>Phone:</span> +353 86 819 2923
                </div>
                <div class="email ng-star-inserted">
                  <span>Email:</span> cormac@lionra.ie
                </div>
                <div class="website ng-star-inserted">
                  <span>Web:</span> www.lionra.ie
                </div>
              </div>
            </div>
          </div>
          <table class="summary">
            <tr class="code">
              <td class="label">INVOICE</td>
              <td class="value">C1-0005</td>
            </tr>
            <tr>
              <td class="label">INVOICE DATE</td>
              <td class="value">Nov 1, 2019</td>
            </tr>
            <!-- <tr>
              <td class="label">DUE DATE</td>
              <td class="value">Aug 24, 2018</td>
            </tr> -->
            <tr>
              <td class="label">TOTAL DUE</td>
              <td class="value">€
                {{vm.fns.getTotal(vm.fns.getTotalDays(vm.dom.content.charges), vm.invoice.rate, 0.23) | currency : '' : 2}}
              </td>
            </tr>
          </table>
        </div>
        <table class="modern" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th class="text-left">
                SERVICE
              </th>
              <th class="text-center">
                UNIT
              </th>
              <th class="text-center">
                PRICE
              </th>
              <th class="text-right">
                QUANTITY
              </th>
              <th class="text-right">
                TOTAL
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td>
                <div class="title">Web Application Development</div>
                <div class="detail">
                  Development and coding, Aug
                  1, 2019 to Aug 30, 2019.
                </div>
              </td>
              <td class="text-center">
                Days
              </td>
              <td class="text-center">
                € {{ vm.invoice.rate || xx }}
              </td>
              <td class="text-right">
                {{ vm.invoice.days || xx }}
              </td>
              <td class="text-right">
                € {{ vm.fns.getSubtotal(vm.invoice.days, vm.invoice.rate) | currency : '' : 2 }}
              </td>
            </tr> -->
            <tr ng-repeat="(key, value) in vm.dom.content.charges">
              <td>
                <div class="title">{{ value.project }}</div>
                <div class="detail">
                  {{ value.title }}
                </div>
              </td>
              <td class="text-center">
                Days
              </td>
              <td class="text-center">
                € {{ vm.invoice.rate || 'xx' }}
              </td>
              <td class="text-right">
                {{ value.days }}
              </td>
              <td class="text-right">
                € {{ vm.fns.getSubtotal(value.days, vm.invoice.rate) | currency : '' : 2 }}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="invoice-table-footer">
          <tbody>
            <tr class="subtotal">
              <td>SUBTOTAL</td>
              <td class="text-right">€
                {{vm.fns.getSubtotal(vm.fns.getTotalDays(vm.dom.content.charges), vm.invoice.rate) | currency : '' : 2}}
              </td>
            </tr>
            <tr class="vat">
              <td>VAT (23%)</td>
              <td class="text-right">€
                {{vm.fns.getVAT(vm.fns.getTotalDays(vm.dom.content.charges), vm.invoice.rate, 0.23) | currency : '' : 2}}
              </td>
            </tr>
            <tr class="total">
              <td>TOTAL</td>
              <td class="text-right">€
                {{vm.fns.getTotal(vm.fns.getTotalDays(vm.dom.content.charges), vm.invoice.rate, 0.23) | currency : '' : 2}}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="footer">
          <table class="doc__footer">
            <tbody>
              <tr>
                <td style="width:40%">
                  <b>Payment</b> <br /><br />
                  Please pay via bank transfer using the following details.
                  <br /><br />
                  <div>
                    IBAN: IE87AIBK93363533106084 <br />
                    BIC: AIBKIE2D <br />
                  </div>
                </td>
                <td style="width:40%">
                  <b>Questions</b> <br /><br />
                  If you have any questions with regards to this invoice please
                  contact me via email (iestyn02@gmail.com) or phone (+353 83
                  048 3254).
                  <br /><br />
                  Thanks for your business.
                </td>
                <td class="text-right" style="vertical-align: middle;">
                  <img src="./assets/img/axier_logo.png" style="width: 28px;" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="calendar-container" ng-if="vm.dom.view === 2">
      <div class="calendar-header">
        <h1>
          December
          <button>▾</button>
        </h1>
        <p>2019</p>
      </div>
      <div class="calendar">
        <span class="day-name">Sun</span>
        <span class="day-name">Mon</span>
        <span class="day-name">Tue</span>
        <span class="day-name">Wed</span>
        <span class="day-name">Thu</span>
        <span class="day-name">Fri</span>
        <span class="day-name">Sat</span>

        <div ng-repeat="day in vm.dom.content.calendar[0].days" class="day"
          ng-class="vm.fns.isDayDisabled(12, day) ? 'day--disabled' : ''">
          <span class="day--hours">{{ vm.dom.content.calendarTimesheet[day] }}<sup
              ng-if="vm.dom.content.calendarTimesheet[day]">HRS</sup></span>
          <span>{{ day | date:'dd' }}</span>
        </div>
        <div ng-repeat="day in vm.dom.content.calendar[1].days" class="day"
          ng-class="vm.fns.isDayDisabled(12, day) ? 'day--disabled' : ''">
          <span class="day--hours">{{ vm.dom.content.calendarTimesheet[day] }}<sup
              ng-if="vm.dom.content.calendarTimesheet[day]">HRS</sup></span>
          <span>{{ day | date:'dd' }}</span>
        </div>
        <div ng-repeat="day in vm.dom.content.calendar[2].days" class="day"
          ng-class="vm.fns.isDayDisabled(12, day) ? 'day--disabled' : ''">
          <span class="day--hours">{{ vm.dom.content.calendarTimesheet[day] }}<sup
              ng-if="vm.dom.content.calendarTimesheet[day]">HRS</sup></span>
          <span>{{ day | date:'dd' }}</span>
        </div>
        <div ng-repeat="day in vm.dom.content.calendar[3].days" class="day"
          ng-class="vm.fns.isDayDisabled(12, day) ? 'day--disabled' : ''">
          <span class="day--hours">{{ vm.dom.content.calendarTimesheet[day] }}<sup
              ng-if="vm.dom.content.calendarTimesheet[day]">HRS</sup></span>
          <span>{{ day | date:'dd' }}</span>
        </div>
        <div ng-repeat="day in vm.dom.content.calendar[4].days" class="day"
          ng-class="vm.fns.isDayDisabled(12, day) ? 'day--disabled' : ''">
          <span class="day--hours">{{ vm.dom.content.calendarTimesheet[day] }}<sup
              ng-if="vm.dom.content.calendarTimesheet[day]">HRS</sup></span>
          <span>{{ day | date:'dd' }}</span>
        </div>
        <!-- <td ng-repeat="day in value.days">{{ vm.dom.content.calendarTimesheet[day] }}</td> -->

        <!-- <div class="day day--disabled">30</div>
        <div class="day day--disabled">31</div>
        <div class="day">1</div>
        <div class="day">2</div>
        <div class="day">3</div>
        <div class="day">4</div>
        <div class="day">5</div>
        <div class="day">6</div>
        <div class="day">7</div>
        <div class="day">8</div>
        <div class="day">9</div>
        <div class="day">10</div>
        <div class="day">11</div>
        <div class="day">12</div>
        <div class="day">13</div>
        <div class="day">14</div>
        <div class="day">15</div>
        <div class="day">16</div>
        <div class="day">17</div>
        <div class="day">18</div>
        <div class="day">19</div>
        <div class="day">20</div>
        <div class="day">21</div>
        <div class="day">22</div>
        <div class="day">23</div>
        <div class="day">24</div>
        <div class="day">25</div>
        <div class="day">26</div>
        <div class="day">27</div>
        <div class="day">28</div>
        <div class="day">29</div>
        <div class="day">30</div>
        <div class="day">31</div>
        <div class="day day--disabled">1</div>
        <div class="day day--disabled">2</div> -->
        <!-- <section class="task task--warning">Projects</section>
        <section class="task task--danger">Design Sprint</section>
        <section class="task task--primary">Product Checkup 1
          <div class="task__detail">
            <h2>Product Checkup 1</h2>
            <p>15-17th November</p>
          </div>
        </section>
        <section class="task task--info">Product Checkup 2</section> -->
      </div>
    </div>
  </div>

  <!-- Timesheet -->
  <!-- <div>
    <table>
      <thead>
        <tr>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in vm.dom.content.calendar">
          <td ng-repeat="day in value.days">{{ vm.dom.content.calendarTimesheet[day] }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>
