<div class="user-profile" role="button" ng-click="$root.appConfigs.searchOpen = true;">
  <div class="user-profile__avatar"
    ng-style="{'background-image': 'url(' + (profile.picture ? profile.picture : './assets/img/profile.png') + ')'}">
  </div>
  <span class="user-profile__nickname" ng-bind="profile.name"></span>
  <i class="pe-7s-angle-down"></i>
</div>
