<div class="header">
  <div class="header__left">
    <div class="header__left__menu">
      <i class="pe-7s-menu"></i>
    </div>
    <div class="header__left__content">
      <div class="app-dropdown" role="button" ng-click="$root.appConfigs.searchOpen = true;">
        <span class="app-dropdown__name">WebKraken eCommerce</span>
        <i class="pe-7s-angle-down"></i>
      </div>
    </div>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save">
      <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
      <polyline points="17 21 17 13 7 13 7 21"></polyline>
      <polyline points="7 3 7 8 15 8"></polyline>
    </svg> -->
  </div>
  <div class="header__right">
    <i class="pe-7s-bookmarks"></i>
    <i class="pe-7s-search"></i>
    <div class="user-profile" role="button" ng-click="$root.appConfigs.searchOpen = true;">
      <div class="user-profile__avatar"
        ng-style="{'background-image': 'url(' + (profile.picture ? profile.picture : './assets/img/profile.png') + ')'}">
      </div>
      <!-- <span class="user-profile__nickname" ng-bind="profile.name"></span> -->
      <i class="pe-7s-angle-down"></i>
    </div>
  </div>
</div>
