.flag-md,
.flag-sm {
  display: inline-block
}

.flag-sm {
  background-image: url(./assets/img/flags/sprites/flags-16.png);
  width: 24px;
  height: 16px;
  line-height: 16px
}

.flag-sm-AD {
  background-position: -24px 0
}

.flag-sm-AE {
  background-position: -192px -16px
}

.flag-sm-AF {
  background-position: 0 -16px
}

.flag-sm-AG {
  background-position: -24px -16px
}

.flag-sm-AL {
  background-position: 0 -32px
}

.flag-sm-AM {
  background-position: -24px -32px
}

.flag-sm-AR {
  background-position: -48px 0
}

.flag-sm-AT {
  background-position: -48px -16px
}

.flag-sm-AU {
  background-position: -48px -32px
}

.flag-sm-AZ {
  background-position: 0 -48px
}

.flag-sm-BA {
  background-position: -24px -48px
}

.flag-sm-BB {
  background-position: -48px -48px
}

.flag-sm-BD {
  background-position: -72px 0
}

.flag-sm-BE {
  background-position: -72px -16px
}

.flag-sm-BF {
  background-position: -72px -32px
}

.flag-sm-BG {
  background-position: -72px -48px
}

.flag-sm-BH {
  background-position: 0 -64px
}

.flag-sm-BI {
  background-position: -24px -64px
}

.flag-sm-BJ {
  background-position: -48px -64px
}

.flag-sm-BN {
  background-position: -72px -64px
}

.flag-sm-BO {
  background-position: 0 -80px
}

.flag-sm-BR {
  background-position: -24px -80px
}

.flag-sm-BS {
  background-position: -48px -80px
}

.flag-sm-BT {
  background-position: -72px -80px
}

.flag-sm-BW {
  background-position: -96px 0
}

.flag-sm-BY {
  background-position: -96px -16px
}

.flag-sm-BZ {
  background-position: -96px -32px
}

.flag-sm-CA {
  background-position: -96px -48px
}

.flag-sm-CD {
  background-position: -96px -64px
}

.flag-sm-CF {
  background-position: -96px -80px
}

.flag-sm-CG {
  background-position: 0 -96px
}

.flag-sm-CH {
  background-position: -24px -96px
}

.flag-sm-CI {
  background-position: -48px -96px
}

.flag-sm-CL {
  background-position: -72px -96px
}

.flag-sm-CM {
  background-position: -96px -96px
}

.flag-sm-CN {
  background-position: -120px 0
}

.flag-sm-CO {
  background-position: -120px -16px
}

.flag-sm-CR {
  background-position: -120px -32px
}

.flag-sm-CU {
  background-position: -120px -48px
}

.flag-sm-CV {
  background-position: -120px -64px
}

.flag-sm-CY {
  background-position: -120px -80px
}

.flag-sm-CZ {
  background-position: -120px -96px
}

.flag-sm-DE {
  background-position: 0 -112px
}

.flag-sm-DJ {
  background-position: -24px -112px
}

.flag-sm-DK {
  background-position: -48px -112px
}

.flag-sm-DM {
  background-position: -72px -112px
}

.flag-sm-DO {
  background-position: -96px -112px
}

.flag-sm-DZ {
  background-position: -120px -112px
}

.flag-sm-EC {
  background-position: 0 -128px
}

.flag-sm-EE {
  background-position: -24px -128px
}

.flag-sm-EG {
  background-position: -48px -128px
}

.flag-sm-ER {
  background-position: -72px -128px
}

.flag-sm-ES {
  background-position: -96px -128px
}

.flag-sm-ET {
  background-position: -120px -128px
}

.flag-sm-FI {
  background-position: -144px 0
}

.flag-sm-FJ {
  background-position: -144px -16px
}

.flag-sm-FM {
  background-position: -144px -32px
}

.flag-sm-FR {
  background-position: -144px -48px
}

.flag-sm-GA {
  background-position: -144px -64px
}

.flag-sm-GD {
  background-position: -144px -80px
}

.flag-sm-GE {
  background-position: -144px -96px
}

.flag-sm-GH {
  background-position: -144px -112px
}

.flag-sm-GM {
  background-position: -144px -128px
}

.flag-sm-GN {
  background-position: 0 -144px
}

.flag-sm-GQ {
  background-position: -24px -144px
}

.flag-sm-GR {
  background-position: -48px -144px
}

.flag-sm-GT {
  background-position: -72px -144px
}

.flag-sm-GW {
  background-position: -96px -144px
}

.flag-sm-GY {
  background-position: -120px -144px
}

.flag-sm-HN {
  background-position: -144px -144px
}

.flag-sm-HR {
  background-position: -168px 0
}

.flag-sm-HT {
  background-position: -168px -16px
}

.flag-sm-HU {
  background-position: -168px -32px
}

.flag-sm-ID {
  background-position: -168px -48px
}

.flag-sm-IE {
  background-position: -168px -64px
}

.flag-sm-IL {
  background-position: -168px -80px
}

.flag-sm-IN {
  background-position: -168px -96px
}

.flag-sm-IQ {
  background-position: -168px -112px
}

.flag-sm-IS {
  background-position: -168px -128px
}

.flag-sm-IT {
  background-position: -168px -144px
}

.flag-sm-Iran {
  background-position: 0 -160px
}

.flag-sm-JM {
  background-position: -24px -160px
}

.flag-sm-JO {
  background-position: -48px -160px
}

.flag-sm-JP {
  background-position: -72px -160px
}

.flag-sm-KE {
  background-position: -96px -160px
}

.flag-sm-KG {
  background-position: -120px -160px
}

.flag-sm-KH {
  background-position: -144px -160px
}

.flag-sm-KI {
  background-position: -168px -160px
}

.flag-sm-KM {
  background-position: 0 -176px
}

.flag-sm-KN {
  background-position: -24px -176px
}

.flag-sm-KP {
  background-position: -48px -176px
}

.flag-sm-KR {
  background-position: -72px -176px
}

.flag-sm-KW {
  background-position: -96px -176px
}

.flag-sm-KZ {
  background-position: -120px -176px
}

.flag-sm-LA {
  background-position: -144px -176px
}

.flag-sm-LB {
  background-position: -168px -176px
}

.flag-sm-LC {
  background-position: -192px 0
}

.flag-sm-LI {
  background-position: 0 0
}

.flag-sm-LK {
  background-position: -192px -32px
}

.flag-sm-LR {
  background-position: -192px -48px
}

.flag-sm-LS {
  background-position: -192px -64px
}

.flag-sm-LT {
  background-position: -192px -80px
}

.flag-sm-LU {
  background-position: -192px -96px
}

.flag-sm-LV {
  background-position: -192px -112px
}

.flag-sm-LY {
  background-position: -192px -128px
}

.flag-sm-MA {
  background-position: -192px -144px
}

.flag-sm-MC {
  background-position: -192px -160px
}

.flag-sm-MD {
  background-position: -192px -176px
}

.flag-sm-ME {
  background-position: 0 -192px
}

.flag-sm-MG {
  background-position: -24px -192px
}

.flag-sm-MH {
  background-position: -48px -192px
}

.flag-sm-MK {
  background-position: -72px -192px
}

.flag-sm-ML {
  background-position: -96px -192px
}

.flag-sm-MM {
  background-position: -120px -192px
}

.flag-sm-MN {
  background-position: -144px -192px
}

.flag-sm-MR {
  background-position: -168px -192px
}

.flag-sm-MT {
  background-position: -192px -192px
}

.flag-sm-MU {
  background-position: -216px 0
}

.flag-sm-MV {
  background-position: -216px -16px
}

.flag-sm-MW {
  background-position: -216px -32px
}

.flag-sm-MX {
  background-position: -216px -48px
}

.flag-sm-MY {
  background-position: -216px -64px
}

.flag-sm-MZ {
  background-position: -216px -80px
}

.flag-sm-NA {
  background-position: -216px -96px
}

.flag-sm-NE {
  background-position: -216px -112px
}

.flag-sm-NG {
  background-position: -216px -128px
}

.flag-sm-NI {
  background-position: -216px -144px
}

.flag-sm-NL {
  background-position: -216px -160px
}

.flag-sm-NO {
  background-position: -216px -176px
}

.flag-sm-NP {
  background-position: -216px -192px
}

.flag-sm-NR {
  background-position: 0 -208px
}

.flag-sm-NZ {
  background-position: -24px -208px
}

.flag-sm-OM {
  background-position: -48px -208px
}

.flag-sm-PA {
  background-position: -72px -208px
}

.flag-sm-PE {
  background-position: -96px -208px
}

.flag-sm-PG {
  background-position: -120px -208px
}

.flag-sm-PH {
  background-position: -144px -208px
}

.flag-sm-PK {
  background-position: -168px -208px
}

.flag-sm-PL {
  background-position: -192px -208px
}

.flag-sm-PT {
  background-position: -216px -208px
}

.flag-sm-PW {
  background-position: 0 -224px
}

.flag-sm-PY {
  background-position: -24px -224px
}

.flag-sm-QA {
  background-position: -48px -224px
}

.flag-sm-RO {
  background-position: -72px -224px
}

.flag-sm-RS {
  background-position: -96px -224px
}

.flag-sm-RU {
  background-position: -120px -224px
}

.flag-sm-RW {
  background-position: -144px -224px
}

.flag-sm-SA {
  background-position: -168px -224px
}

.flag-sm-SB {
  background-position: -192px -224px
}

.flag-sm-SC {
  background-position: -216px -224px
}

.flag-sm-SD {
  background-position: -240px 0
}

.flag-sm-SE {
  background-position: -240px -16px
}

.flag-sm-SG {
  background-position: -240px -32px
}

.flag-sm-SI {
  background-position: -240px -48px
}

.flag-sm-SK {
  background-position: -240px -64px
}

.flag-sm-SL {
  background-position: -240px -80px
}

.flag-sm-SM {
  background-position: -240px -96px
}

.flag-sm-SN {
  background-position: -240px -112px
}

.flag-sm-SO {
  background-position: -240px -128px
}

.flag-sm-SR {
  background-position: -240px -144px
}

.flag-sm-SS {
  background-position: -240px -160px
}

.flag-sm-ST {
  background-position: -240px -176px
}

.flag-sm-SV {
  background-position: -240px -192px
}

.flag-sm-SY {
  background-position: -240px -208px
}

.flag-sm-SZ {
  background-position: -240px -224px
}

.flag-sm-TD {
  background-position: 0 -240px
}

.flag-sm-TG {
  background-position: -24px -240px
}

.flag-sm-TH {
  background-position: -48px -240px
}

.flag-sm-TJ {
  background-position: -72px -240px
}

.flag-sm-TL {
  background-position: -96px -240px
}

.flag-sm-TM {
  background-position: -120px -240px
}

.flag-sm-TN {
  background-position: -144px -240px
}

.flag-sm-TO {
  background-position: -168px -240px
}

.flag-sm-TR {
  background-position: -192px -240px
}

.flag-sm-TT {
  background-position: -216px -240px
}

.flag-sm-TV {
  background-position: -240px -240px
}

.flag-sm-TW {
  background-position: -264px 0
}

.flag-sm-TZ {
  background-position: -264px -16px
}

.flag-sm-UA {
  background-position: -264px -32px
}

.flag-sm-UG {
  background-position: -264px -48px
}

.flag-sm-UK {
  background-position: -264px -64px
}

.flag-sm-GB {
  background-position: -264px -64px
}

.flag-sm-US {
  background-position: -264px -80px
}

.flag-sm-UY {
  background-position: -264px -96px
}

.flag-sm-UZ {
  background-position: -264px -112px
}

.flag-sm-VA {
  background-position: -264px -128px
}

.flag-sm-VC {
  background-position: -264px -144px
}

.flag-sm-VE {
  background-position: -264px -160px
}

.flag-sm-VN {
  background-position: -264px -176px
}

.flag-sm-VU {
  background-position: -264px -192px
}

.flag-sm-WS {
  background-position: -264px -208px
}

.flag-sm-XK {
  background-position: -264px -224px
}

.flag-sm-YE {
  background-position: -264px -240px
}

.flag-sm-ZA {
  background-position: 0 -256px
}

.flag-sm-ZM {
  background-position: -24px -256px
}

.flag-sm-ZW {
  background-position: -48px -256px
}

.flag-md {
  background-image: url(./assets/img/flags/sprites/flags-47.png);
  width: 70px;
  height: 47px;
  line-height: 47px
}

.flag-md-AD {
  background-position: -70px 0
}

.flag-md-AE {
  background-position: -560px -423px
}

.flag-md-AF {
  background-position: 0 -47px
}

.flag-md-AG {
  background-position: -70px -47px
}

.flag-md-AL {
  background-position: -140px 0
}

.flag-md-AM {
  background-position: -140px -47px
}

.flag-md-AR {
  background-position: 0 -94px
}

.flag-md-AT {
  background-position: -70px -94px
}

.flag-md-AU {
  background-position: -140px -94px
}

.flag-md-AZ {
  background-position: 0 -141px
}

.flag-md-BA {
  background-position: -70px -141px
}

.flag-md-BB {
  background-position: -140px -141px
}

.flag-md-BD {
  background-position: -210px 0
}

.flag-md-BE {
  background-position: -210px -47px
}

.flag-md-BF {
  background-position: -210px -94px
}

.flag-md-BG {
  background-position: -210px -141px
}

.flag-md-BH {
  background-position: 0 -188px
}

.flag-md-BI {
  background-position: -70px -188px
}

.flag-md-BJ {
  background-position: -140px -188px
}

.flag-md-BN {
  background-position: -210px -188px
}

.flag-md-BO {
  background-position: -280px 0
}

.flag-md-BR {
  background-position: -280px -47px
}

.flag-md-BS {
  background-position: -280px -94px
}

.flag-md-BT {
  background-position: -280px -141px
}

.flag-md-BW {
  background-position: -280px -188px
}

.flag-md-BY {
  background-position: 0 -235px
}

.flag-md-BZ {
  background-position: -70px -235px
}

.flag-md-CA {
  background-position: -140px -235px
}

.flag-md-CD {
  background-position: -210px -235px
}

.flag-md-CF {
  background-position: -280px -235px
}

.flag-md-CG {
  background-position: 0 -282px
}

.flag-md-CH {
  background-position: -70px -282px
}

.flag-md-CI {
  background-position: -140px -282px
}

.flag-md-CL {
  background-position: -210px -282px
}

.flag-md-CM {
  background-position: -280px -282px
}

.flag-md-CN {
  background-position: -350px 0
}

.flag-md-CO {
  background-position: -350px -47px
}

.flag-md-CR {
  background-position: -350px -94px
}

.flag-md-CU {
  background-position: -350px -141px
}

.flag-md-CV {
  background-position: -350px -188px
}

.flag-md-CY {
  background-position: -350px -235px
}

.flag-md-CZ {
  background-position: -350px -282px
}

.flag-md-DE {
  background-position: 0 -329px
}

.flag-md-DJ {
  background-position: -70px -329px
}

.flag-md-DK {
  background-position: -140px -329px
}

.flag-md-DM {
  background-position: -210px -329px
}

.flag-md-DO {
  background-position: -280px -329px
}

.flag-md-DZ {
  background-position: -350px -329px
}

.flag-md-EC {
  background-position: -420px 0
}

.flag-md-EE {
  background-position: -420px -47px
}

.flag-md-EG {
  background-position: -420px -94px
}

.flag-md-ER {
  background-position: -420px -141px
}

.flag-md-ES {
  background-position: -420px -188px
}

.flag-md-ET {
  background-position: -420px -235px
}

.flag-md-FI {
  background-position: -420px -282px
}

.flag-md-FJ {
  background-position: -420px -329px
}

.flag-md-FM {
  background-position: 0 -376px
}

.flag-md-FR {
  background-position: -70px -376px
}

.flag-md-GA {
  background-position: -140px -376px
}

.flag-md-GD {
  background-position: -210px -376px
}

.flag-md-GE {
  background-position: -280px -376px
}

.flag-md-GH {
  background-position: -350px -376px
}

.flag-md-GM {
  background-position: -420px -376px
}

.flag-md-GN {
  background-position: 0 -423px
}

.flag-md-GQ {
  background-position: -70px -423px
}

.flag-md-GR {
  background-position: -140px -423px
}

.flag-md-GT {
  background-position: -210px -423px
}

.flag-md-GW {
  background-position: -280px -423px
}

.flag-md-GY {
  background-position: -350px -423px
}

.flag-md-HN {
  background-position: -420px -423px
}

.flag-md-HR {
  background-position: -490px 0
}

.flag-md-HT {
  background-position: -490px -47px
}

.flag-md-HU {
  background-position: -490px -94px
}

.flag-md-ID {
  background-position: -490px -141px
}

.flag-md-IE {
  background-position: -490px -188px
}

.flag-md-IL {
  background-position: -490px -235px
}

.flag-md-IN {
  background-position: -490px -282px
}

.flag-md-IQ {
  background-position: -490px -329px
}

.flag-md-IR {
  background-position: -490px -376px
}

.flag-md-IS {
  background-position: -490px -423px
}

.flag-md-IT {
  background-position: 0 -470px
}

.flag-md-JM {
  background-position: -70px -470px
}

.flag-md-JO {
  background-position: -140px -470px
}

.flag-md-JP {
  background-position: -210px -470px
}

.flag-md-KE {
  background-position: -280px -470px
}

.flag-md-KG {
  background-position: -350px -470px
}

.flag-md-KH {
  background-position: -420px -470px
}

.flag-md-KI {
  background-position: -490px -470px
}

.flag-md-KM {
  background-position: -560px 0
}

.flag-md-KN {
  background-position: -560px -47px
}

.flag-md-KP {
  background-position: -560px -94px
}

.flag-md-KR {
  background-position: -560px -141px
}

.flag-md-KW {
  background-position: -560px -188px
}

.flag-md-KZ {
  background-position: -560px -235px
}

.flag-md-LA {
  background-position: -560px -282px
}

.flag-md-LB {
  background-position: -560px -329px
}

.flag-md-LC {
  background-position: -560px -376px
}

.flag-md-LI {
  background-position: 0 0
}

.flag-md-LK {
  background-position: -560px -470px
}

.flag-md-LR {
  background-position: 0 -517px
}

.flag-md-LS {
  background-position: -70px -517px
}

.flag-md-LT {
  background-position: -140px -517px
}

.flag-md-LU {
  background-position: -210px -517px
}

.flag-md-LV {
  background-position: -280px -517px
}

.flag-md-LY {
  background-position: -350px -517px
}

.flag-md-MA {
  background-position: -420px -517px
}

.flag-md-MC {
  background-position: -490px -517px
}

.flag-md-MD {
  background-position: -560px -517px
}

.flag-md-ME {
  background-position: 0 -564px
}

.flag-md-MG {
  background-position: -70px -564px
}

.flag-md-MH {
  background-position: -140px -564px
}

.flag-md-MK {
  background-position: -210px -564px
}

.flag-md-ML {
  background-position: -280px -564px
}

.flag-md-MM {
  background-position: -350px -564px
}

.flag-md-MN {
  background-position: -420px -564px
}

.flag-md-MR {
  background-position: -490px -564px
}

.flag-md-MT {
  background-position: -560px -564px
}

.flag-md-MU {
  background-position: -630px 0
}

.flag-md-MV {
  background-position: -630px -47px
}

.flag-md-MW {
  background-position: -630px -94px
}

.flag-md-MX {
  background-position: -630px -141px
}

.flag-md-MY {
  background-position: -630px -188px
}

.flag-md-MZ {
  background-position: -630px -235px
}

.flag-md-NA {
  background-position: -630px -282px
}

.flag-md-NE {
  background-position: -630px -329px
}

.flag-md-NG {
  background-position: -630px -376px
}

.flag-md-NI {
  background-position: -630px -423px
}

.flag-md-NL {
  background-position: -630px -470px
}

.flag-md-NO {
  background-position: -630px -517px
}

.flag-md-NP {
  background-position: -630px -564px
}

.flag-md-NR {
  background-position: 0 -611px
}

.flag-md-NZ {
  background-position: -70px -611px
}

.flag-md-OM {
  background-position: -140px -611px
}

.flag-md-PA {
  background-position: -210px -611px
}

.flag-md-PE {
  background-position: -280px -611px
}

.flag-md-PG {
  background-position: -350px -611px
}

.flag-md-PH {
  background-position: -420px -611px
}

.flag-md-PK {
  background-position: -490px -611px
}

.flag-md-PL {
  background-position: -560px -611px
}

.flag-md-PT {
  background-position: -630px -611px
}

.flag-md-PW {
  background-position: -700px 0
}

.flag-md-PY {
  background-position: -700px -47px
}

.flag-md-QA {
  background-position: -700px -94px
}

.flag-md-RO {
  background-position: -700px -141px
}

.flag-md-RS {
  background-position: -700px -188px
}

.flag-md-RU {
  background-position: -700px -235px
}

.flag-md-RW {
  background-position: -700px -282px
}

.flag-md-SA {
  background-position: -700px -329px
}

.flag-md-SB {
  background-position: -700px -376px
}

.flag-md-SC {
  background-position: -700px -423px
}

.flag-md-SD {
  background-position: -700px -470px
}

.flag-md-SE {
  background-position: -700px -517px
}

.flag-md-SG {
  background-position: -700px -564px
}

.flag-md-SI {
  background-position: -700px -611px
}

.flag-md-SK {
  background-position: 0 -658px
}

.flag-md-SL {
  background-position: -70px -658px
}

.flag-md-SM {
  background-position: -140px -658px
}

.flag-md-SN {
  background-position: -210px -658px
}

.flag-md-SO {
  background-position: -280px -658px
}

.flag-md-SR {
  background-position: -350px -658px
}

.flag-md-SS {
  background-position: -420px -658px
}

.flag-md-ST {
  background-position: -490px -658px
}

.flag-md-SV {
  background-position: -560px -658px
}

.flag-md-SY {
  background-position: -630px -658px
}

.flag-md-SZ {
  background-position: -700px -658px
}

.flag-md-TD {
  background-position: 0 -705px
}

.flag-md-TG {
  background-position: -70px -705px
}

.flag-md-TH {
  background-position: -140px -705px
}

.flag-md-TJ {
  background-position: -210px -705px
}

.flag-md-TL {
  background-position: -280px -705px
}

.flag-md-TM {
  background-position: -350px -705px
}

.flag-md-TN {
  background-position: -420px -705px
}

.flag-md-TO {
  background-position: -490px -705px
}

.flag-md-TR {
  background-position: -560px -705px
}

.flag-md-TT {
  background-position: -630px -705px
}

.flag-md-TV {
  background-position: -700px -705px
}

.flag-md-TW {
  background-position: -770px 0
}

.flag-md-TZ {
  background-position: -770px -47px
}

.flag-md-UA {
  background-position: -770px -94px
}

.flag-md-UG {
  background-position: -770px -141px
}

.flag-md-UK {
  background-position: -770px -188px
}

.flag-md-GB {
  background-position: -770px -188px
}

.flag-md-US {
  background-position: -770px -235px
}

.flag-md-UY {
  background-position: -770px -282px
}

.flag-md-UZ {
  background-position: -770px -329px
}

.flag-md-VA {
  background-position: -770px -376px
}

.flag-md-VC {
  background-position: -770px -423px
}

.flag-md-VE {
  background-position: -770px -470px
}

.flag-md-VN {
  background-position: -770px -517px
}

.flag-md-VU {
  background-position: -770px -564px
}

.flag-md-WS {
  background-position: -770px -611px
}

.flag-md-XK {
  background-position: -770px -658px
}

.flag-md-YE {
  background-position: -770px -705px
}

.flag-md-ZA {
  background-position: 0 -752px
}

.flag-md-ZM {
  background-position: -70px -752px
}

.flag-md-ZW {
  background-position: -140px -752px
}
