// @import url('https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css');
//
// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
// @import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400;500');
// @import url('https:////fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Hind:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');

@import "../fonts/stroke7/pe-icon-7-stroke";
@import "../fonts/fontawesome/fontawesome";
@import "https://cdn.axier.io/fonts/gilroy/index.css";
@import "https://cdn.axier.io/fonts/young/index.css";
// @import "../fonts/proxima-nova/proxima-nova";
