/* Search Component */

$top-search-height: 30%;
$top-search-bg: #1f2532;
$bottom-search-height: 70%;
$bottom-search-bg: #fff;
$backfall-bg: #f5f8fa;

$navbar-width: 210px;
$navbar-height: 65px;

$navbar-grad-1: #2c2b30;
$navbar-grad-2: #2c2b30;

// $primary-colour: #FF3366;
// $primary-colour: #1487FF;
// $primary-colour: #AE7DE7;
$primary-colour: #3751ff;
