.invoice__wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  font-family: "Muli", sans-serif;

  &.invoice__wrapper--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    display: block;
    width: 717px;
    z-index: 20;
    // border: 1px solid red;

    .card {
      box-shadow: none;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;
      min-width: 100%;

      .header {
        .ids {
          .detail {
            width: 160px;
            font-size: 11px;
          }

          .seller {
            margin-bottom: 30px;

            .logo {
              width: 80px;
            }

            .divider {
              margin: 0 23px;
              height: 144px;
            }
          }

          .client {
            .divider {
              margin: 0 23px;
              height: 144px;
            }

            .label {
              width: 80px;
              font-size: 10px;
              font-weight: 900;
            }
          }
        }
      }

      table {
        &.modern {
          font-size: 13px;
          margin-top: 20px;

          thead {
            tr {
              th {
                padding: 13px 0px;
                font-weight: 600;

                &:first-child,
                &:last-child {
                  padding-left: 0px;
                }
              }
            }
          }

          tbody {
            tr {
              td {
                padding: 18px 0px;
                font-size: 14px;
              }
            }
          }
        }

        &.invoice-table-footer {
          margin: 13px 0 16px;

          tbody tr {
            &.total {
              td {
                font-size: 22px;
              }
            }

            td {
              padding-bottom: 15px;
              font-size: 14px;
            }
          }
        }
      }

      .doc__footer {
        font-family: "Poppins";
        color: rgba(0, 0, 0, 0.54);
        font-size: 11px;
        margin-top: 95px;

        tbody {
          tr {
            td {
              //   width: 33.33%;
              padding: 10px;
              vertical-align: top;

              b {
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}

// invoice-modern #invoice.modern .invoice-container .card .header .summary

.card {
  // margin: auto;
  // padding: 30px;
  // border: 1px solid #eee;
  // background: #fff;
  // box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  // font-size: 16px;
  // line-height: 24px;
  margin: 20px;
  width: 1020px;
  min-width: 1020px;
  max-width: 1020px;
  padding: 88px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2),
    0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);

  .header {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start space-between;
    align-items: flex-start;

    .summary {
      width: 305px;

      .code {
        font-size: 35px;
        font-weight: 300;

        td {
          padding-bottom: 32px;
        }
      }

      .label {
        color: rgba(0, 0, 0, 0.54);
        text-align: right;
        padding-right: 16px;
      }
    }

    .ids {
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.54);

      .detail {
        width: 200px;
        font-size: 14px;
        font-family: "Poppins";
      }

      .seller {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center flex-start;
        align-items: center;
        margin-bottom: 80px;

        .logo {
          width: 156px;

          img {
            width: 100%;
          }
        }

        .divider {
          width: 1px;
          margin: 0 48px;
          background-color: rgba(0, 0, 0, 0.12);
          height: 144px;
        }
      }

      .client {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center flex-start;
        align-items: center;

        &:hover {
          border: 1px solid red;
        }

        .divider {
          width: 1px;
          margin: 0 48px;
          background-color: rgba(0, 0, 0, 0.12);
          height: 144px;
        }

        .label {
          flex-direction: row;
          box-sizing: border-box;
          display: flex;
          place-content: center center;
          align-items: center;
          width: 156px;
          font-size: 24px;
          font-weight: 300;
          text-transform: uppercase;

          div {
            text-align: center;
          }
        }
      }
    }
  }

  table {
    &.modern {
      width: 100%;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.87);
      width: 100%;
      margin-top: 30px;

      thead {
        tr {
          th {
            color: rgba(0, 0, 0, 0.87);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            padding: 16px 8px;
            font-weight: 600;
            white-space: nowrap;

            &:first-child,
            &:last-child {
              padding-left: 24px;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 16px 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            .title {
              font-size: 17px;
            }

            .detail {
              margin-top: 8px;
              font-size: 12px;
              color: rgba(0, 0, 0, 0.54);
              max-width: 360px;
            }

            &:first-child,
            &:last-child {
              padding-left: 24px;
            }
          }
        }
      }
    }

    &.invoice-table-footer {
      width: 100%;
      border: none;
      border-spacing: 0;
      text-align: left;
      margin: 32px 0 96px;

      tbody {
        tr {
          td {
            font-size: 17px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.54);
            border-bottom: none;
            padding: 8px;
          }

          &.total td {
            padding: 32px 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            font-size: 35px;
            font-weight: 300;
            color: #000;
          }

          td {
            padding-bottom: 32px;
          }

          &.vat {
            td {
              padding-bottom: 32px;
            }
          }
        }
      }
    }
  }
}
