<div class="app__navigation">
  <div class="app__navigation__wrapper">
    <div class="navigation__progress">
      <div class="bookings__charts-container"
        style="position:relative;max-width: 750px;margin-left:auto;margin-right:auto;">
        <div class="chart" id="chart-1" data-size="100" data-percent="56" data-revenue="45" data-adr="23"
          data-fill-color="#3751ff">
        </div>
      </div>
    </div>
    <section-nav keys="vm.dom.keys"></section-nav>
  </div>
  <div class="app__navigation__logo">
    <!-- <img src="./assets/img/logo.svg" /> -->
    <!-- <svg width="48" height="32" viewBox="0 0 48 32" xmlns="http://www.w3.org/2000/svg">
        <title>axier</title>
        <defs>
          <linearGradient x1="0%" y1="100%" y2="0%" id="logo-a">
            <stop stop-color="#007CFE" stop-opacity="0" offset="0%"></stop>
            <stop stop-color="#007DFF" offset="100%"></stop>
          </linearGradient>
          <linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="logo-b">
            <stop stop-color="#7074ff" stop-opacity="0" offset="0%"></stop>
            <stop stop-color="#7074ff" offset="100%"></stop>
          </linearGradient>
        </defs>
        <g fill="none" fill-rule="evenodd">
          <rect fill="url(#logo-a)" width="32" height="32" rx="16"></rect>
          <rect fill="url(#logo-b)" x="16" width="32" height="32" rx="16"></rect>
        </g>
      </svg> -->
    <user-profile></user-profile>
    <!-- <span>axier</span> -->
  </div>
</div>
<div class="app__content">
  <div class="translator">
    <div class="translator__keys">
      <div class="container">
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="axier-tabs">
              <a class="tab-ele"
                ui-sref="app.base.translator.section.subsection({id: '1', section: vm.dom.selected.section, sub: key})"
                ui-sref-active="'active'" ng-repeat="(key, value) in vm.dom.keys[vm.dom.selected.section].sub_sections"
                ng-bind="value.label"></a>
            </div>
          </div>
        </div>-->
        <div class="row">
          <div class="col-md-12" ng-repeat="val in vm.dom.keys[vm.dom.selected.section].values">
            <div class="lang-key-card">
              <div class="lang-key-card__key">
                <input ng-model="val.key" ng-model-options="{ updateOn: 'blur'}" />
                <textarea ng-model="val.key_description" ng-model-options="{ updateOn: 'blur'}"></textarea>
                <button ng-click="vm.fns.copyKey(vm.dom.selected.section, vm.dom.selected.sub, val.key)">
                  <axier-icon icon-path="copy" icon-size="20"></axier-icon>
                </button>
              </div>
              <div class="lang-key-card__values">
                <div class="lang-key-card__values__lang" ng-repeat="lang in vm.dom.langs">
                  <div class="lang-key-card__values__lang__label" ng-bind="lang.label"></div>
                  <div class="lang-key-card__values__lang__value">
                    <input class="lang-key-card__values__lang"
                      ng-model="vm.dom.lang_keys[lang.lang][vm.dom.selected.section][val.key]"
                      ng-model-options="{ updateOn: 'blur'}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input id="copyEle" style="opacity:0" />
            <button class="btn btn-primary" ng-click="vm.fns.addKey();">Add Row</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <code>
              <pre>
                {{ vm.dom.selected | json }}
              </pre>
            </code>
            <code>
              <pre>
                {{ vm.dom.langs | json }}
              </pre>
            </code>
            <code>
              <pre>
                {{ vm.dom.keys | json }}
              </pre>
            </code>
            <code>
              <pre>
                {{ vm.dom.lang_keys | json }}
              </pre>
            </code>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="translator__langs">
      <div class="">
        <button class="translator__langs__selector" ng-click="vm.dom.selected.lang = 'en-us'">
          <i class="flag-sm flag-sm-US"></i>
        </button>
        <button class="translator__langs__selector" ng-click="vm.dom.selected.lang = 'en-gb'">
          <i class="flag-sm flag-sm-GB"></i>
        </button>
        <button class="translator__langs__selector" ng-click="vm.dom.selected.lang = 'de'">
          <i class="flag-sm flag-sm-DE"></i>
        </button>
      </div>

      <input ng-repeat="val in vm.dom.keys[vm.dom.selected.section].sub_sections[vm.dom.selected.sub].values"
        ng-model="vm.dom.lang_keys[vm.dom.selected.lang][vm.dom.selected.section][vm.dom.selected.sub][val.key]" />
      <code>
        <pre>
          {{ vm.dom.lang_keys | json }}
        </pre>
      </code>
      lang = {{ vm.dom.selected.lang }}
      <br />
    </div> -->
  </div>
</div>
