<div class="navigation__menu">
  <!-- <div class="nav">
    <div class="nav-container">
      <ul>
        <li class="nav-item" ui-sref-active="active" ng-repeat="(key, value) in dom.sections">
          <a
            ui-sref="app.base.translator.section.subsection({id: '1', section: key, sub: fns.getFirstKey(value.sub_sections)})">
            <i ng-class="value.icon"></i>
            <span class="nav-item--title" ng-bind="value.label"></span>
          </a>
        </li>
        <li class="nav-item" ui-sref-active="active" ng-repeat="(key, value) in dom.sections">
          <a ng-click="fns.promptAddSection()">
            <i class="pe-7s-plus"></i>
            <span class="nav-item--title">Add Section</span>
          </a>
        </li>
      </ul>
    </div>
  </div> -->
  <!-- {{ keys }} -->
  <ul>
    <li ng-repeat="(key, value) in keys">
      <!-- <a ui-sref="app.base.translator.section.subsection({id: '1', section: key, sub: fns.getFirstKey(value.sub_sections)})" -->
      <a ui-sref="app.base.translator.section({id: '1', section: key })"
        ng-class="key === vm.dom.selected.section ? 'active' : ''">
        <axier-icon icon-size="20" icon-path="{{ value.icon }}"></axier-icon>
        <span class=" menu__item__label" ng-bind="value.label"></span>
        <span class="menu__item__unsaved">4</span>
      </a>
    </li>
  </ul>
  <div class="navigation__menu__controls">
    <button class="add__section__btn" ng-click="fns.promptAddSection()">
      Add Section
    </button>
  </div>
</div>
