.btn {
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none !important;
    background-color: #ffffff;
    color: #9b95f3 !important;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
    height: 48px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;

    &--primary {
        color: #fff !important;
        transition: background 0.15s ease;
        background: linear-gradient(65deg, #7074ff 0, #5e9eff 100%);
    }
}
