.page-loading-overlay {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  // background: $navbar-grad-1;
  background: #fff;
  z-index: 10000;
  -webkit-perspective: 10000;
  -moz-perspective: 10000;
  perspective: 10000;
  -webkit-perspective: 10000px;
  -moz-perspective: 10000px;
  perspective: 10000px;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  transition: all 300ms ease-out;

  &.loaded {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.spinner-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

.spinner-center-app {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  margin-left: -20px;
  margin-top: -20px;
  overflow: hidden;
}

.loader {
  margin: 2px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid rgba(0, 0, 0, 0.09);
  border-right: 2px solid rgba(0, 0, 0, 0.09);
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
  border-left: 2px solid $primary-colour;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;

  &,
  &::after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
