.navigation__menu {
  display: flex;
  flex: 1;
  flex-direction: column;

  ul {
    list-style-type: none;
    width: 100%;
    margin-top: 60px;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;

    li {
      display: flex;
      flex-direction: row;
      height: 43px;
      margin-bottom: 2px;
      align-items: center;

      a {
        display: flex;
        flex: 1;
        height: 100%;
        flex-direction: row;
        color: #363840;
        text-decoration: none;
        align-items: center;
        padding-left: 20px;
        border-left: 3px solid #fff;
        transition: all 0.3s;

        &.active {
          border-color: $primary-colour;

          .axier__icon {

            path,
            rect,
            polyline,
            line,
            circle {
              stroke: $primary-colour;
            }
          }

          .menu__item__label {
            color: $primary-colour;
          }

          .menu__item__unsaved {
            color: $primary-colour;
            background: #dde2ff;
          }
        }

        .axier__icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #9fa2b4;
          width: 40px;
          height: 100%;
          font-size: 16px;
        }

        .menu__item__label {
          display: flex;
          flex: 1;
          padding-left: 10px;
          font-weight: 600;
          font-size: 13px;
          letter-spacing: 0.5px;
          font-family: 'Poppins';
          transition: color 0.3s;
        }

        .menu__item__unsaved {
          background: #f0f1f7;
          color: #9fa2b4;
          width: 46px;
          font-weight: 600;
          border-radius: 37px;
          text-align: center;
          font-size: 12px;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
        }
      }
    }
  }

  .navigation__menu__controls {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .add__section__btn {
      border: 2px solid #dfe1eb;
      border-radius: 4px;
      width: 80%;
      background-color: transparent;
      height: 53px;
      color: #617083;
      transition: color 0.45s;
      cursor: pointer;
      font-size: 10px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      letter-spacing: 1px;
      display: flex;
      justify-content: center;
      transition: background-color 0.3s;

      &:hover {
        // background: linear-gradient(65deg, #7074ff 0, #5e9eff 100%);
        background-color: #dfe1eb;
        background-color: #f0f1f7;
        // color: #9fa2b4;
        // color: #fff;
        // border-color: #fff;
      }

      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}
