.translator {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;

  .translator__keys {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0px 20px;
    overflow-y: auto;

    .lang-key-card {
      display: flex;
      flex-direction: row;
      background: #fff;
      width: 100%;
      margin: 20px 0;
      padding: 7px 15px;
      border-radius: 9px;
      // box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
      border: 1px solid #f0f2f5;

      .lang-key-card__key {
        display: flex;
        width: 200px;
        flex-direction: column;

        input {
          color: #3751ff;
          border: none;
          outline: none;
        }
      }

      .lang-key-card__values {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-left: 10px;

        .lang-key-card__values__lang {
          display: flex;
          flex-direction: row;
          margin: 2px 0;

          .lang-key-card__values__lang__label {
            display: flex;
            padding-left: 10px;
            font-weight: 600;
            font-size: 13px;
            letter-spacing: 0.5px;
            width: 80px;
            justify-content: center;
            flex-direction: column;
            // color: #617083;
            color: #363840;
          }

          .lang-key-card__values__lang__value {
            display: flex;
            flex-direction: column;

            input {
              // background: #f0f6f7;
              background: #f0f1f7;
              color: #18bcc9;
              height: 44px;
              width: 200px;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-pack: center;
              justify-content: center;
              -ms-flex-align: center;
              align-items: center;
              border-radius: 80px;
              font-size: 13px;
              letter-spacing: 0px;
              font-weight: 500;
              border: none;
              outline: none;
              padding: 0 20px;
            }
          }
        }


      }
    }
  }

  // .translator__langs {
  //   width: 300px;
  //   display: flex;
  //   flex-direction: column;
  //   border-left: 1px solid #f0f2f5;

  //   .translator__langs__selector {
  //     background: transparent;
  //     border: none;
  //     outline: none;
  //   }
  // }

}
