.user-profile {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    cursor: pointer;
    color: #a1d5fe;
    color: #9fa2b4;
    font-weight: 500;
    // font-weight: 700;
    // font-family: 'Averta';

    .user-profile__avatar {
        background: #7acaff;
        background-size: cover;
        background-position: center;
        border-radius: 100px;
        width: 36px;
        height: 36px;
        padding: 0px 10px;
    }

    .user-profile__nickname {
        font-size: 12px;
        letter-spacing: 0px;
        // letter-spacing: 0.5px;
        padding: 0px 0px 0px 8px;
    }
}
